{% extends "site/company.html" %}
{% load staticfiles %}
{% block sidebar%}
		<div class="eleven wide column">
			
			<div class="c_header">
				<div class="ui grid">
					<div class="c_logo four	 wide column">
						<img class="ui image" src="{% static 'images/logo_default.png'%}">
					
					</div>
					<div class="twelve wide column">
					<div class="c_intro">
						<div class="ui header">
						   途灵岛
						  <div class="sub header">途灵岛(北京)信息技术股份有限公司</div>
						</div>
						<div class="description">
							途灵岛是领先的旅游行业创新运营解决方案提供商
						</div>
						<div class="ui divider"></div>
						<div class="ctags">
						<span>732</span> <span>美好加油</span> <span>美女多多</span> <span>福利好好</span>
					</div>
					</div>	
					</div>
				</div>
			</div>
			
			<div class="ui horizontal icon divider">
				  <i class="circular heart icon"></i>
				</div>
			
			<div class="c_info">
				<div>
					<div class="ui red ribbon label">公司介绍</div>
					<div>
					<p>关于途灵岛 </p>

<p>途灵岛是领先的旅游行业创新运营解决方案提供商。我们为客户提供： </p>

<p>创新的云信息技术解决方案：依托云计算技术，以最具竞争力的成本为客户提供世界领先的信息技术解决方案帮助客户迅速开源节流。 </p>

<p>创新的产业金融解决方案：基于产融结合理念，以深度结合产业特征的金融产品帮助客户提升资产回报，降低运营风险。 </p>

<p>创新的商业模式解决方案：利用顶级咨询顾问全球视野，提供前沿性的商业运营理念助力客户实现可持续性的快速成长。 </p>

<p>企业文化 </p>

<p>创新：在深入理解客户需求的基础上，创新商业模式、业务流程上、服务手段；在服务好会员的同时，做到引领行业的升级。 </p>

<p>执着：追求最佳的用户体验，做最安全、稳定的平台系统；坚持不懈地创造客户价值，助力整个产业升级。 </p>

<p>伙伴关系：我们积极创造专业而友好的组织环境，以团队为导向，保持高度的合作性，彼此分享知识与经验，互相鼓励，互为支持；同时，我们真诚地对待彼此、关心彼此，让每一个人都能 享受在途灵岛的工作与生活。</p>
					</div>
				</div>
				
				<div class="c_prod">
				
					<div class="ui red ribbon label">公司产品</div>
					<div class="cycle-slideshow slideshow_wrap" data-cycle-timeout=8000 data-cycle-fx="fadeout" data-cycle-slides="> a" data-cycle-speed=1500>
						<a><img src="{% static 'images/slider/1.jpg' %}"> </a>
						<a><img src="{% static 'images/slider/2.jpg' %}"> </a>
						<a><img src="{% static 'images/slider/3.jpg' %}"></a>
					</div>
				</div>	
					
				<div class="c_positons">
					<div class="ui red ribbon label">招聘职位</div>
					<ul>
						<li data-url="{% url 'bee:position_info' 3 %}">
						<div class="pub_date">9小时前</div>
							<div class="header">
								java工程师
								<span class="meta">
								[北京]
								</span>
							</div>
							
							<div class="description">
								全职 / 8k-15k / 1-3年 / 本科及以上
							</div>
						</li>
						<li>
						<div class="pub_date">9小时前</div>
							<div class="header">
								java工程师
								<span class="meta">
								[北京]
								</span>
							</div>
							<div class="description">
								全职 / 8k-15k / 1-3年 / 本科及以上
							</div>
						</li>
						<li>
							<div class="pub_date">9小时前</div>
							<div class="header">
								java工程师
								<span class="meta">
								[北京]
								</span>
							</div>
							<div class="description">
								全职 / 8k-15k / 1-3年 / 本科及以上
							</div>
						</li>
						<li>
						<div class="pub_date">9小时前</div>
							<div class="header">
								java工程师
								<span class="meta">
								[北京]
								</span>
							</div>
							<div class="description">
								全职 / 8k-15k / 1-3年 / 本科及以上
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			
		</div>
 {% endblock %}

 {% block cscript %}
	<script type="text/javascript" src="{% static 'js/jquery.cycle2.min.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.c_positons ul li[data-url]').click(function(){
				window.location = $(this).attr('data-url');
			});
			
		});
	</script>
{% endblock %} 
 