{% extends "base_page.html" %}
{% load staticfiles %}
{% block position%}active{% endblock %}
{% block title%} 找职位 {% endblock %}
{% block sidebar%}
<div class="eleven wide column">
	
	<div class="p_content">
		<div class="p_header">
			<div class="toplabel">
				<h2 class="header">
					java工程师
				</h2>
				<div class="subdesc">
					图另网招聘
				</div>
			</div>	
			<div class="p_desc">
				<span>6k-12k</span><span>北京</span><span>经验1-3年</span><span>学历不限</span><span>全职</span>
				<p>职位诱惑:拥有广阔的发展空间,有竞争力的薪资</p>
				<div>
					发布时间: 1天前发布
				</div>
			</div>
		</div>
		<div class="ui divider"></div>
		<div class="p_detail">
			<div class="header">职位描述</div>
			<div class="detail">
				<p>岗位职责：</p>
<p>1、负责完成互联网产品的原型、流程和交互界面设计、产品需求文档撰写，</p>
<p>2、协助开发团队理解和掌握需求，对产品需求方向和易用性负责，</p>
<p>3、支持运营团队进行数据收集分析、用户调研与反馈等，持续优化产品。</p>

<p>岗位要求：
<p>1、大学本科以上学历，2年以上互联网产品策划经验者优先；</p>
<p>2、能够独立完成网站产品的原型、产品流程和交互界面的设计；</p>
<p>3、熟练使用office、axure、visio、mindmanager等相关软件；</p>
<p>4、出色的文档撰写能力，优秀的口头表达能力；</p>
<p>5、具备良好的沟通能力和良好的团队合作意识。</p>
			</div>
			<div class="action">
			<a class="ui massive primary button">
  <i class="add icon"></i>
  推 荐 简 历
</a>
		</div>
		</div>
		
	</div>
</div>

{% endblock %}