{% extends 'console/work_area.html' %}

{% block work_ctr %} ng-controller='PositionController' {% endblock %}

{% block  a_title %}  <h3><i class="block layout icon"></i> {$ position.title $} </h3> {% endblock %}


{% block work_space %}



    <div class=" work_space">
        <div class="work_space_inner">
            <div class="space">

                <div class="tab_content">



                </div>
            </div>

        </div>
    </div>

    <div class=" right_sidebar">


    </div>

{% endblock %}