<div ng-controller="FeedsController">
    <div class="tab_list ui list">
        <a ng-repeat="feed in feeds" class="item" ng-href="{$ feed.url $}">
            <img class="ui avatar image" ng-src="{$ feed.actor.avatar $}">
            <div class="content actor">
              <div class="header">{$ feed.actor.name $}</div>
             {$ feed.actor.job $}
            </div>
            <div class="action">
                 {$ feed.title $}
            </div>
            <div class="right floated datetime">
                {$ feed.pubDate $}
            </div>
        </a>
</div>


</div>