@CHARSET "UTF-8";
/*******************************
            Global
*******************************/

html,
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 1280px;
}


/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #00BAFF;
}

p a {
  font-weight: bold;
}

.hide {
	display: none;
}
/*******************************
            Global
*******************************/
.ui.page.grid.segment {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.masthead.ui.page.grid.segment {
/*  background-image: url(../images/bg.jpg);  */
  background-color : #fafafa;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0em;
  padding-top: 1.6rem;
  padding-bottom: 0rem;
  overflow: hidden;
/*  -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
*/
}
.masthead.segment .column .menu .item{
  	font-size: 2.6rem;
}

.cycle-slideshow img { width: 100%; height: auto }


.ui.segment .main.column {
	font-size:1.5rem;
}

.ui.segment .main.column .ui.menu .item {
	font-size:2rem;
	font-weight: bold;
}


.attached.segment .items .item {
	min-height: 0rem;
	box-shadow: none;
	border: none;
	margin-bottom: 1.5rem;
}

.slideshow_wrap {
	background: none;
	padding-bottom: 1rem;
}

#hsidebar .menu .item{
	font-size :2rem;
}

#hsidebar .button {
	font-size :2rem;
}

#home-content .ui.selection.list .item:hover {
	
	background-color: rgba(0,181,173,0.5);
	color: rgba(0,0,0,.7);
}

.ui.list .item .content .location {
	display: inline;
}
.ui.list .item .content .right.floated.date {
	float:right;
}

/** login.html*/

.login.button {
	padding-left:1em;
}

.login.ui.grid.page {
	margin-top: 3rem;
	box-shadow: none;
	height: auto;
}

.login.ui.grid.page  .container{
	
	padding:0% 18%;
}

.login.ui.grid.page .ui.form {
	box-shadow: none;
	margin-top: 3rem;
}

.login.ui.page.grid .column , .login .ui.button {
	font-size : 2rem;
}
.login .ui.horizontal.divider, .login .ui.horizontal.divider {
	color: inherit;
	font-weight: normal;
}
.login .ui.horizontal.divider:before, .login .ui.horizontal.divider:after{
	width: 40%
}

/** company.html */


.hc_tag {
	margin-left: 1rem;
	overflow:hidden;
}

.hc_base{
	margin-right: 10rem;
	float:right;
}

.hc_base a {
	font-size: 1.5rem;
	
}

.hc_base a.active {
	
}

.hc_fields {
	margin-top:1rem;
	margin-bottom : 2rem;
	background-color : #fafafa; 
	display: inline-table;
}


.hc_field_header ,.hc_field_content{
	display: inline-block;
	margin-left:1rem;
	font-size: 1.5rem;
}

.hc_field_header {
	text-align:center;
	font-weight: bold;
}

.hc_field_content {
	margin-top:1.5rem;
	padding-bottom : 0.2rem;
	max-width: 55rem;
}

.hc_field_content > .ui.horizontal.list > .item {
	font-size: 1.5rem;
	padding:0.3rem;
}

.hc_field_content > .ui.horizontal.list > .item.active {
	background-color: #0d9572;
	color: #ffffff;

}

.companys {
	margin-left: 1rem;
	background-color: #ffffff;
}
.companys > .ui.items > .item {
	min-height: 0rem;
	box-shadow: none;
	border: none;
	background-color: rgba(250,250,250,.6);
}
.companys > .ui.items > .item  .content > a {
	font-size : 1.7rem;
	display: block;
}
.companys > .ui.items > .item h2 {
	padding-left:.4rem;
}

.companys > .ui.items > .item > .image > .image-overlay {
	position: absolute;
	bottom: 0;
	left:0;
	width: 95%;
	padding-left:1rem;
	padding-top:.9rem;
	padding-bottom:.9rem;
	font-size: 1.5rem;
	color: #ffffff;
	background-color: rgba(0,0,0,.7);
}
.companys > .ui.items > .item  .content a:HOVER {
	color: green;
}

.ctags span {
	display: inline-block;
	border: 1px solid #cbcbcb;
	white-space: nowrap;
	background-color: #fff;
	padding:.3rem;
	margin-top:.5rem;
	margin-right:.5rem;
	font-size:1.5rem;
}

.sidebar .ui.items .item {
	padding:1.5rem;
	min-height: 0rem;
	box-shadow: none;
	border: none;
}

.c_header{
	padding-left: 1rem;
}
.c_header img {
	padding : .3rem;
	border: 3px solid #019675;
}
.c_intro {
	font-size: 2rem;
	padding-left:2rem;	
}

.c_intro .ui.header .sub.header {
	font-size: .8em;
}

.c_intro .description {
	padding-left:.6rem;
	font-size: .7em;
}
.c_info {
	margin-left: 3rem;
	font-size: 2rem;
}
.c_info > div {
	margin-bottom: 4rem;
}
.c_info .ui.label{
	font-size: 2rem;
}
.c_prod > div {
	margin-top: 1rem;
}
.c_positons ul {
	list-style: none;
	padding-left: 1rem;
}
.c_positons ul li {
	cursor:pointer;
	display: block;
	margin-top:1rem;
	margin-bottom: 2rem;
	margin-left: .3rem;
	padding-top : .6rem;
	padding-bottom : .6rem;
	padding-left:2rem;
	border-left: 3px solid #91cebe;
	transition : color 0.3s , background-color 0.3s;
}
.c_positons ul li:HOVER {
	background-color: #91cebe;
	color: #ffffff;
}

.c_positons .description{
	font-size: 1.5rem;
}

.c_positons .pub_date {
	font-size: 1.5rem;
	float: right;
}

/* position*/

.p_content{
	background-color: rgba(250, 250, 250,.5);
	margin-left: 1rem;
	color: rgba(119, 119, 119,.8);
}

.toplabel{
 	  position: relative;
 	  margin-left : 2em;
	  top: -1rem;
	  padding: 1rem 1.5rem;
	  font-size : 2rem;
	  border-color: rgba(0, 0, 0, 0.15);
	  color :#fff;
	  background-color:#91cebe;
	  display: inline-block;
 }
 
 .toplabel:BEFORE {
 	position:absolute;
 	top:0;
 	left:-15px;
	content: " ";
	width: 0;
	height: 0;
	border-bottom: 15px solid #91cebe;
	border-left: 15px solid transparent;
}

.toplabel h2.header{
	margin-top:1rem;
	margin-bottom: 0rem;
}

.toplabel .subdesc {
	position: absolute;
	top:3px;
	font-size: 1.5rem;
	margin-left: -5px;
}

.p_header {
	margin-left: 1rem;
}

.p_desc {
	margin-top:1rem;
	margin-left:3rem;
	padding-bottom:2rem;
	font-size: 1.5rem;
	
}

.p_desc span {
	padding-left:1.6rem;
	font-size:2rem;
	background: url(../images/jd_icon.png) left center no-repeat;
}

.p_desc span:FIRST-CHILD {
	font-size: 3rem;
	color:rgba(250,0,0,.6);
}
.p_desc p {
	font-size: 2rem;	
	font-weight: 100;
}

.p_detail {
	margin-left: 4rem;
	padding-top: 2rem;
	font-size: 1.8rem;
	overflow: hidden;
}

.p_detail .header {
	padding-left:.8rem;
	border-left: 7px solid;
	border-left-color: #91cebe;
}

.p_detail .detail {
	padding-bottom: 3rem;
}

.p_detail .action {
	float: right;
	margin-right: 2rem;
	margin-bottom: 2rem;
}