{% extends 'console/work_area.html' %}


{% block  a_title %}  <h3><i class="tasks icon"></i>{$ task.title $} </h3> {% endblock %}



{% block work_space %}
    <div class=" work_space">
        <div class="work_space_inner">
            <div class="space">
                <div class="time_line">
                    <div class="item hide">
                        <div class="title">
                           <span>step1</span>
                        </div>
                        <div class="check"></div>
                        <div class="content">
                            Greens radish arugula

Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.

                        </div>
                        <div class="action">
                            <i class="add icon"></i>
                        </div>
                    </div>
                    <div class="item hide">
                        <div class="title">
                           <span>step1</span>
                        </div>
                        <div class="check"></div>
                        <div class="content">
                            Greens radish arugula

Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.

                        </div>
                        <div class="action">
                            <i class="add icon"></i>
                        </div>
                    </div>
                    <div class="item hide">
                        <div class="title">
                           <span>step1</span>
                        </div>
                        <div class="check"></div>
                        <div class="content">
                            Greens radish arugula

Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.

                        </div>
                        <div class="action">
                            <i class="add icon"></i>
                        </div>
                    </div>
                    <div class="item show">
                        <div class="title"> <span>step2</span></div>
                        <div class="check"></div>
                        <div class="content"></div>
                    </div>
                    <div class="item show">
                        <div class="title"> <span>step3</span></div>
                        <div class="check"></div>
                        <div class="content"></div>
                    </div>
                    <div class="item show">
                        <div class="title"> <span>step4</span></div>
                        <div class="check"></div>
                        <div class="content"></div>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <div class=" right_sidebar">
        <h2 class="ui header">
            <i class="align justify icon"></i>

            <div class="content">
                {$ company.name $}
                <div class="sub header">{$ company.desc $}</div>
            </div>
        </h2>
        <div class="ui horizontal icon divider">
				  <i class="red circular heart icon"></i>
				</div>
    <h3> {$ position.title $} </h3>
        <div>
    <p>
        {$ position.jd $}
    </p>
            </div>

    </div>
{% endblock %}