<!DOCTYPE html>
<html ng-app="bee_console">
<head>
    <meta charset="UTF-8">
    <title>{$ doc_title $}</title>
    {% load staticfiles %}
{#    <link href='http://fonts.googleapis.com/css?family=Dancing+Script|Audiowide|Playball' rel='stylesheet' type='text/css'>#}
    <link href="{% static 'semantic/css/semantic.css' %}" rel="stylesheet">
    <link href="{% static 'console/style.css' %}" rel="stylesheet">
</head>
<body>

<header class="ui grid">
    <div class="three wide column">
        <div class="logo">
            Raccoon
        </div>
    </div>

</header>

<div id="wrap-all">
    <div id="main">

        <div ng-controller="sidebar_nav"  class="layout_col2">
            <div  class="ui red vertical demo sidebar menu active">
                <div class="header item">
                    <a  id="toggle"> <i class="step backward icon"></i></a>
                    <a> <i class="inbox icon"></i></a>
                    <a> <i class="sitemap icon"></i></a>
                    <a> <i class="info letter icon"></i></a>
                </div>
                <a ng-repeat="menu in menus " ng-class="{active: menu.active}" class="item" ng-click="nav_c(menu)">
                    <i class="{$ menu.icon $} icon"></i>
                    {$ menu.title $}
                </a>

            </div>
            <div class="main_panel pull_right">
                <div ng-include=" active_menu.url "></div>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'semantic/javascript/semantic.js' %}"></script>
<script type="text/javascript" src="{% static 'console/js/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'console/js/app/cached-template.js'%}" ></script>
<script type="text/javascript" src="{% static 'console/js/app/app.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#toggle').click(function () {
            var $sidebar = $('.ui.demo.sidebar');
            var $main_panel = $('.layout_col2 .main_panel');
            var $icon = $('#toggle i.icon');
            if ($sidebar.hasClass('active')) {
                $sidebar.removeClass('active');
            } else {
                $sidebar.addClass('active');
            }

            if ($main_panel.hasClass('pull_right')) {
                $main_panel.removeClass('pull_right');
            } else {
                $main_panel.addClass('pull_right');
            }

            if($icon.hasClass('forward')) {
                $icon.removeClass('forward');
                $icon.addClass('backward');
            }else {
                $icon.removeClass('backward');
                $icon.addClass('forward');
            }

        });
    });

</script>
</body>
</html>