{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
{% include 'base_head.html' %}
<title>{% block title%}{% endblock %}</title>
</head>
<body id='home'>
<!-- page header start -->
	<div class="ui page grid masthead segment">
		<div class="row">
			<div class="three wide column">
				<img class="logo" src="{% static 'images/logo.png' %}">
			</div>
			<div class="thirteen wide column">
				<div class=" secondary pointing ui menu">
					<a class="item {% block home%}{% endblock %}" href="{% url 'bee:index'%}"> 首页 </a>
					<a class="item {% block company%}{% endblock %}" href="{% url 'bee:company'%}" > 公司 </a> 
					<a class="item {% block position%}{% endblock %}" href="{% url 'bee:position'%}"> 职位 </a>
					<a class="item {% block resume%}{% endblock %}"> 简历管理 </a> 
					{% if user.is_authenticated %}
					<div class="right item">
						<div class="ui top right inline dropdown ">
						 {{ user.username }}
			            <i class="dropdown icon"></i>
			            <div class="menu">
			              <a href="{% url 'console:main' %}" class="item">工作台</a>
			              <a class="item">个人中心</a>
			              <a href="{% url 'logout' %}" class="item">退出登录</a>
			            </div>
			         </div>
					</div>
					
				<!--  
					<div class="ui top right pointing dropdown link item">
						 <div class="text">{{ user.username }}</div>
			            <i class="dropdown icon"></i>
			            <div class="menu">
			              <a class="item">工作台</a>
			              <a class="item">个人中心</a>
			              <a class="item">退出登录</a>
			            </div>
			         </div>
			        -->
			         {% endif %}
				</div>
			</div>
		</div>

	</div>
	{% block main-couj%}{% endblock %}
<!-- page header end -->

<!-- content start -->
<div class="ui page grid segment">
<div class="row">
	{% block sidebar%}{% endblock %}
	{% block content%}{% endblock %}
</div>

</div>

<!-- content end -->
{% include 'base_footer.html'%}
{% block cscript %}{% endblock %}
</body>
</html>