<!DOCTYPE html>
<html  ng-app>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    {% load staticfiles %}
    {#    <link href='http://fonts.googleapis.com/css?family=Dancing+Script|Audiowide|Playball' rel='stylesheet' type='text/css'>#}
    <link href="{% static 'semantic/css/semantic.css' %}" rel="stylesheet">
    <link href="{% static 'console/style.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'semantic/javascript/semantic.js' %}"></script>
    <script type="text/javascript" src="{% static 'console/js/angular/angular.js' %}"></script>

    <script>
        function step1($scope) {
            $scope.name = "name1";
        }
         function step2($scope) {
        }

    </script>

</head>
<body>
    <div ng-controller="step1">
        Your name: <input type="text" ng-model="name" placeholder="World">
       <div ng-bind="name"></div>
        <div ng-controller="step2">
<div ng-bind="name"></div>
        </div>

    </div>
</body>
</html>