<!DOCTYPE html>
<html  ng-app="M">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    {% load staticfiles %}
    {#    <link href='http://fonts.googleapis.com/css?family=Dancing+Script|Audiowide|Playball' rel='stylesheet' type='text/css'>#}
    <link href="{% static 'semantic/css/semantic.css' %}" rel="stylesheet">
    <link href="{% static 'console/style.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'semantic/javascript/semantic.js' %}"></script>
    <script type="text/javascript" src="{% static 'console/js/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'console/js/angular-route/angular-route.js' %}"></script>

    <script>
        angular('M',['ngRoute'])
                .config()

    </script>

</head>
<body>

    <div ng-controller="MainCtrl as main">
        Choose:
        <a href="Book/Moby">Moby</a> |
         <a href="Book/Gateby">Gateby</a> |
         <a href="Book/Scarlet">Scarlet</a> |

        <ng-view></ng-view>

    </div>

</body>
</html>