@CHARSET "UTF-8";

/*
    font-face

*/
@font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    src: url(./font/Audiowide.woff) format('woff');
}

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url(./font/DancingScript.woff) format('woff');
}

@font-face {
    font-family: 'Playball';
    font-style: normal;
    font-weight: 400;
    src: url(./font/Playball.woff) format('woff');
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0px;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
    color: rgba(58, 58, 58, .8);
    text-rendering: optimizeLegibility;
    min-width: 1335px;
}

a {
    color: rgba(58, 58, 58, .8);
    text-decoration: none;
}

textarea {
    margin: 0;
    padding: .65em 1em;
    font-size: 1em;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, .15);
    outline: 0;
    color: rgba(0, 0, 0, .7);
    border-radius: .3125em;
    -webkit-transition: background-color .3s ease-out, -webkit-box-shadow .2s ease, border-color .2s ease;
    -moz-transition: background-color .3s ease-out, box-shadow .2s ease, border-color .2s ease;
    transition: background-color .3s ease-out, box-shadow .2s ease, border-color .2s ease;
    -webkit-box-shadow: 0 0 rgba(0, 0, 0, .3) inset;
    box-shadow: 0 0 rgba(0, 0, 0, .3) inset;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 60px;
    overflow: hidden;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, .7);
}

header .column {
    margin: 5px !important;
}

header .logo {
    font-family: 'Audiowide', cursive;
    font-size: 38px;
    font-weight: 400;
    color: rgba(255, 255, 255, .7);
}

.item {
    cursor: pointer;
}

.main {
    position: relative;
    height: 100%;
    margin: 0;

}

.side_bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 275px;
    height: 100%;
    padding-bottom: 50px;
    color: rgba(255, 255, 255, .7);
    background-color: rgba(0, 0, 0, .7);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.side_bar .side_bar_menu {
    list-style: none;
    display: block;
}

.side_bar .side_bar_menu .item {
    color: rgba(255, 255, 255, .7);
    cursor: pointer;
    display: block;
    padding: 15px 20px;
    white-space: nowrap;
    font-weight: bold;
}

.side_bar .side_bar_menu .item:hover, .side_bar .side_bar_menu .item.active {
    color: rgba(217, 92, 92, 1);
    background-color: rgba(58, 58, 58, 0.3);
}

.side_bar .side_bar_menu .item:first-child {
    margin-top: 20px;
}

.side_bar.collapse .side_bar_menu .item .icon {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.side_bar .side_bar_menu .item > span {
    padding-left: 15px;
}

.side_bar_footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    /*border-top: 1px solid;*/
    background-color: transparent;
}

.side_bar_footer hr {
    margin: 0px;
    border-top: solid 1px #111415;
    border-bottom: solid 1px #646668;
}

.side_bar_footer_menu {
    padding: 0px 15px;
}

.side_bar_footer_menu .item {
    float: left;
    display: inline-block;
    padding: 10px 28px;
}

.side_bar_footer_menu .item:hover {
    color: rgba(217, 92, 92, .8);
}

.side_bar_footer_menu .item:hover .icon {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);

}

.collapse .collapse_hide {
    display: none !important;
}

.side_bar.collapse {
    width: 70px !important;
}

.side_bar.collapse .side_bar_footer .side_bar_footer_menu .item.toggle {
    padding: 10px;
    width: 100%;
}

.container {
    margin-left: 275px;
    height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.container.collapse {
    margin-left: 70px;
}

.inner {
    height: inherit;
}

.space {
    padding: 20px;
    border: 1px solid red;
    height: 100%;
    overflow-y: auto;
}

.work_area {
    height: 100%;
    overflow: hidden;
}

.work_area > .navbar {
    /*background-color: rgba(0,0,0,.04);*/
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 1px 0 3px #eee, inset 0 0 3px #fff;
    overflow: hidden;
}

.work_area > .navbar .title {
    float: left;
    margin-left: 15px;

}

.work_area > .navbar .title h2 {
    margin: 15px 0px;
}

.nav_bar_menu {
    position: relative;
}

.nav_bar_menu.floated.right {
    float: right;
}

.nav_bar_menu .item {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    color: inherit;
}

.nav_bar_menu .item.active {
    color: rgba(217, 92, 92, .8);
    font-weight: bold;
    border-bottom: 3px solid rgba(217, 92, 92, .8);
}

.work_area .work_space {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-bottom: 61px;
    float: left;
    margin-left: -360px;
    box-sizing: border-box;
}

.work_area .work_space .work_space_inner {
    margin-left: 360px;
    padding: 15px;
    height: 100%;
}

.work_area .work_space .space {
    padding: 15px;
    /*margin: 15px;*/
    border: 1px solid #e1e1e1;
    box-shadow: 1px 0 3px #eee, inset 0 0 3px #fff;
}

.work_area .work_space .space .space_header, .tab_header {
    padding: 0px 15px;
    border-bottom: 1px solid #e1e1e1;
}

.work_area .right_sidebar {
    display: inline-block;
    float: right;
    width: 330px;
    padding: 15px;
    margin: 15px 15px 15px 0px;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    box-shadow: 1px 0 3px #eee, inset 0 0 3px #fff;
}

.space_header .nav_bar_menu {
    box-shadow: none;
}

.space_header .nav_bar_menu .item {
    padding-bottom: 10px;

}

.work_space .tab_content {
    padding: 15px;
}

.tab_list {

}

.tab_list .item {
    padding: 10px 0px;
    line-height: 15px;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
}

.tab_list .item:hover {
    color: rgba(217, 92, 92, .8);
}

.tab_list .item:last-child {
    border-bottom: none;
}

.tab_list .item:first-child {
    border-bottom: 1px solid #e1e1e1 !important;
}

.tab_list .item .actor {
    display: inline-block;
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 25px;
}

.tab_list .item .action {
    display: inline-block;
}

.tab_list .item .datetime {
    margin-right: 25px;
}

.tab_box a {
    cursor: pointer;
    display: inline-block;
    margin: 15px;
    padding: 25px;
    border: 1px solid #e1e1e1 !important;
}

.tab_box a:hover {
    background-color: rgba(60, 140, 173, .8);
    color: rgba(255, 255, 255, .8);
}

.tab_box a .ui.header .icon {
    font-size: 45px;
}

.ui.steps .ui.step.active, .ui.steps .ui.step.active:after {
    background-color: #ffbf87;
}

.time_line {
    position: relative;
    display: block;
    height: 100%;
    margin-top: 20px;
}

.time_line:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 4px;
    background: #92cade;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    left: 90px;
}

.time_line .item {
    position: relative;
    margin-bottom: 20px;
    margin-top: 30px;
    min-height: 50px;
}

.time_line .item.record {
    margin-top: 0px;
}

.time_line .item .action_icon {
    border-radius: 50%;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    width: 24px;
    height: 24px;
    color: rgba(255, 255, 255, .7);
    font-size: 1.1em;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    background: #92cade;
    text-align: center;
    position: absolute;
    left: 80px;
    top: -2px;
    display: inline-block;
    zoom: 1;

}

.time_line .item .action {
    position: relative;
    margin-left: 120px;
    /*height: 100%;*/
    /*border-radius: .3125em;*/
    /*-webkit-border-radius: .3125em;*/
    /*background: rgba(146,203,222,1);*/
    color: #fff;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    border-radius: 5px;
}

.time_line .item:not(.record) .action {
    background: rgba(146, 203, 222, 1);
}

.time_line .item .action textarea {
    width: 100%;
    max-width: 100%;
    height: 50px;
    max-height: 150px;
}

.time_line .item .action p {
    padding: 0 10px;
}

.time_line .item .action .header {
    padding-left: 20px;
    /*font-size: 30px;*/
    background: rgba(146, 203, 222, 1);
    /*color: rgba(255,255,255,.7);*/
    margin-bottom: 10px;
    margin-top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.time_line .item .header:before {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: -5px;
    background: #92cade;
    transform: rotate(-225deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(-225deg); /* Safari and Chrome */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg);
    /*box-shadow: 1px 1px 1px 1px #f6f4ef;*/
}

.time_line .item .action .header .assign {
    float: right;
    margin-right: 50px;
    font-size: 20px;
}

.main_panel {
    position: relative;
    padding: 20px;
    padding-bottom: 81px;
    height: 100%;
    overflow: auto;
}

.search_bar {
    width: 50%;
}

.search_list {
    margin-right: 30%;
}

.search_list .empty_list {
    padding-top: 100px;
    text-align: center;
}

.search_list .empty_list .icon {

    font-size: 120px;
    color: #f2f2ea;
}

.search_list .empty_list .content {
    margin-top: 50px;
    color: #8a959e;
    text-shadow: 0 0 0;
    font-size: 17px;
    font-weight: bold;
}

.resume_header {
    width: 100%;
    overflow: hidden;
}

.resume_header .resume_base_info {
    margin-right: 16%;
}

.resume_header .resume_base_info .ui.grid {
    box-shadow: none;
}

.resume_header .resume_avatar {
    position: absolute;
    width: 15%;
    top: 20px;
    right: 20px;

}

.resume_header .row {

}

.resume_header .row .label {
    display: inline-block;
    width: 70px;
    text-align: right;
}

.resume {
    margin-bottom: 20px;
    margin-right: 16%;
    border-top: 1px solid #e1e1e1;
}

.resume .tab_header {
    padding-left: 40px;
}

.resume .tab_header .item {
    padding-bottom: 10px;
}

.content_module {
    margin-left: 10px;
    margin-top: 20px;

}

.content_module .content_header {
    font-size: 20px;
    font-weight: bold;
    background: #8a959e;
    padding-left: 10px;
}

.content_module .content {
    padding-left: 10%;
}

.experience {
    position: relative;
    margin-top: 20px;
}

.experience .date {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
}

.experience .exp_content {
    margin-left: 100px;
    border-left: 1px solid #8a959e;
    padding-left: 20px;
}

.experience .exp_content .header {
    font-weight: bold;
}

.divided.list {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.divided.list:last-child {
    border-bottom: none;
}

.communication_records {
    padding: 20px;
}

.empty_panel {
    margin: 0 auto;
    padding-top: 12%;
    text-align: center;
    /*text-shadow: 0 2px 0 #fff, 0 -2px 0 #f2f2ea;*/
}

.empty_panel i {
    font-size: 120px;
    color: #f2f2ea;
    margin: 0;
}

.empty_panel span {
    font-size: 24px;
    line-height: 48px;
    color: #e7e7df;
}

.projs_panel {
    padding: 15px;

}

.proj .proj_header {
    color: #8a959e;
    font-size: 18px;
}

.proj .proj_header i {
    margin-right: 5px;
}

.proj .proj_header .badge {
    background-color: #b5bfcd;
    font-weight: normal;
    padding: 4px 6px;
    border-radius: 4px;
    margin-left: 10px;
    color: #f9f9f7;
    font-size: 10px;
}

.proj .proj_grid {
    overflow: hidden;
    margin-bottom: 20px;
}

.proj .proj_grid .proj_item {
    display: inline-block;
    float: left;
    margin: 15px 0px 15px 15px;
    width: 212px;
    position: relative;
}

.proj .proj_grid .proj_item .proj_center {
    display: block;
    text-align: center;
    border: solid 1px #e1e1e1;
    -webkit-box-shadow: 0 0 3px #eee, inset 0 0 3px #fff;
    box-shadow: 0 0 3px #eee, inset 0 0 3px #fff;
    background: #f9f9f7;
    padding-top: 35px;
    height: 132px;
}

.proj .proj_grid .proj_item .proj_center i {
    font-size: 32px;
    color: rgba(60, 140, 173 , .9);
}

.proj .proj_grid .proj_item .proj_star {
    position: absolute;
    left: 1px;
    top: 1px;
}



/*@media {*/

/*.work_area > .navbar .title{*/
/**/
/*}*/

/*}*/