@CHARSET "UTF-8";

/*
    font-face

*/
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src:  url(./font/Audiowide.woff) format('woff');
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url(./font/DancingScript.woff) format('woff');
}
@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: url(./font/Playball.woff) format('woff');
}




html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
    color: rgba(58, 58, 58, .8);
    text-rendering: optimizeLegibility;
    min-width: 1280px;
}

header {
    width: 100%;
    height: 60px;
    overflow: hidden;
    padding-bottom: 10px;
}

header .logo {
    font-family: 'Audiowide', cursive;
    font-size: 38px;
    font-weight: 400;
}

#wrap-all {
    position: relative;
}

.layout_col2 {
    position: relative;
}

.layout_col2 .ui.demo.sidebar {
    margin-left: -210px !important;
    top: 70px;
    left: 0;
    padding-bottom: 50px;
}

.layout_col2 .ui.demo.sidebar.active {
    margin-left: 0px !important;
}

.layout_col2 .ui.demo.sidebar .item:hover {
    background-color: rgba(0, 0, 0, 0, .4);
}

.layout_col2 .ui.red.demo.sidebar .item.active {
    border-right: 3px solid rgba(217, 92, 92, .8);
}

.layout_col2 .ui.demo.sidebar.active .item.active {
    border-right: none;
}

.layout_col2 .ui.demo.sidebar .item .icon {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.layout_col2 .ui.demo.sidebar.active .item .icon {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.ui.demo.menu > .item {
    padding-right: 25px;
}

.ui.demo.menu > .header.item {
    white-space:nowrap;
    overflow: hidden;
    padding: 2px 0px;
}

.ui.demo.menu > .header.item > a {
    display: inline-block;
    float: right;
    padding: 15px 25px 15px 13px;
    cursor: pointer;
}

.ui.demo.menu > .header.item > a > .icon {
    margin-right: 0px;
    margin-left: 8px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.ui.demo.menu > .header.item > a:hover > .icon {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    color: rgba(217, 92, 92, .8);
}

.layout_col2 .main_panel {
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 65px !important;
    -webkit-transition: margin 0.3s ease, -webkit-transform 0.3s ease /*rtl:append:,
    padding 0.3s ease*/;
    -moz-transition: margin 0.3s ease, -moz-transform 0.3s ease /*rtl:append:,
    padding 0.3s ease*/;
    transition: margin 0.3s ease, transform 0.3s ease /*rtl:append:,
    padding 0.3s ease*/;
}

.layout_col2 .main_panel.pull_right {
    margin-left: 275px !important;
}

